<br>
<div class="display-centering-code">
  {{!-- _________Filter and search function________ --}}
  <div class="card-resizer">
    <div class="card bg-dark text-white">
      <img class="card-img" src="images/searchImage.jpeg" alt="Card image">
      <div class="card-img-overlay">
        <h5 class="card-title">Search</h5>
        <p class="card-text">What are you looking for?</p>

        <form method="GET" action="/event-search">
          <div class="form-group">
            <label for="querySearchOptions"></label>
            <select class="form-control" id="querySearchOptions" name='type'>
              <option selected="true" disabled="disabled" value="event">Please select an option below:</option>
              <option value="artist">Artist</option>
              <option value="genre">Genre</option>
              <option value="city">City</option>
            </select>

          </div>
          <input type="text" name="search">
          <button>Search</button>
        </form>

      </div>
    </div>
  </div>
  <br>
</div>
<br>

{{!-- _________Filter and search function________ --}}

<div class="cardGrid">
  {{#each eventList}}
  <div class="card" style="width: 18rem;">
    <img src="{{this.imageURL}}" class="card-img-top" alt="Event Image">
    <div class="card-body">
      <h5 class="card-title">{{this.eventName}}</h5>
      <p class="card-text">{{this.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Genre: {{this.genre}}</li>
      <li class="list-group-item">City: {{this.city}}</li>
      <li class="list-group-item"><a href="{{this.ticketURL}}" class="card-link">Buy Ticket</a></li>
    </ul>

    <div class="card-body">
      <a href="/eventPage/{{this._id}}">Go to Event</a>
    </div>

  </div>

  {{/each}}
</div>
<br>