<br>
{{!-- ________  search function________ --}}
<div class="card-resizer my-5">
  <div class="d-flex card search text-white">
    <h4 class="card-title text-center">Search for Events</h4>

    <form method="GET" action="/search">
      <div class="d-flex bd-highlight">
        <div class="p-2 flex-grow-1 bd-highlight"><input class="search form-control" type="text" name="search"/></div>
        <div class="p-2 bd-highlight">
          <select class="form-control" id="querySearchOptions" name='type'>
            <option selected="true" disabled="disabled" value="event">Search by</option>
            <option value="artists">Artist</option>
            <option value="genre">Genre</option>
            <option value="city">City</option>
          </select>
        </div>
        <div class="p-2 bd-highlight">
          <button class="btn btn-outline-success">Search</button>
        </div>
      </div>
    </form>
     </div>
</div>



<div class="card-group justify-content-center">
   {{#unless eventList}}
    <h5>Sorry, there where no matching Events found.
      <br>
      Try searching for something else or <a style="color: black"href="/event">add your own Event</a> now!
    </h5>
    {{/unless }}
  <div class="row justify-content-center">

   
  
      {{#each eventList}}
<div class="card mx-3 my-3" style="width: 18rem; border: none;">
  <img src="{{this.imageURL}}" class="card-img-top" alt="Event Image">
  <div class="card-body">
    <h5 class="card-title">{{this.eventName}}</h5>
    <p class="card-text">Genre: {{this.genre}}</p>
    <p class="card-text">City: {{this.city}}</p>
    <p class="card-text">Artists: {{this.artists}}</p>
    <p class="card-text">Date: {{this.date}}</p>
    <a class="btn btn-success" href="/eventPage/{{this._id}}">See Event Details</a>
  </div>
</div>
  {{/each}}
  </div>
</div>
