<br>
{{!-- _________Filter and search function________ --}}
<div class="card-resizer">
  <div class="card bg-dark text-white">
    <img class="card-img" src="images/searchImage.jpeg" alt="Card image">
    <div class="card-img-overlay">
      <h5 class="card-title">Search</h5>
      <p class="card-text">Search an event by location, artist, etc...</p>
      <input type="text" name="search">
      <button>Search</button>
    </div>
  </div>
</div>
<br>


{{!-- _________Filter and search function________ --}}

<div class="cardGrid">
  {{#each eventList}}
  <div class="card" style="width: 18rem;">
    <img src="{{this.imageURL}}" class="card-img-top" alt="Event Image">
    <div class="card-body">
      <h5 class="card-title">{{this.eventName}}</h5>
      <p class="card-text">{{this.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Genre: {{this.genre}}</li>
      <li class="list-group-item">Location: {{this.location}}</li>
      <li class="list-group-item"><a href="{{this.ticketURL}}" class="card-link">Buy Ticket</a></li>
    </ul>

    <div class="card-body">
      <a href="/eventPage/{{this._id}}">Edit Event Details</a>
    </div>

  </div>

  {{/each}}
</div>
<br>