<h1>{{user.username}}</h1>

<a class="nav-link" href="/event">New Event</a>
<a class="nav-link" href="/">Browse Events</a>
<a class="nav-link" href="/profile/attending">My Upcoming Events</a>


<div class="card mb-3" style="max-width: 90%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img  class="rounded" src={{user.imageURL}} alt="profile photo" width="300px">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        
        <h5 class="card-title">{{user.firstname}} {{user.lastname}}</h5>
        <p class="card-text">{{user.userDescription}}</p>
        <p class="card-text">
          <form method="GET" action="/profile/edit"> 
          <button class="btn btn-primary">Edit Profile</button>
            </form>
            <form method="GET" action="/image/edit"> 
          <button class="btn btn-primary">Edit Photo</button>
            </form>
            {{!-- <form method="GET" action="/profile/attending"> 
          <button class="btn btn-primary">My Upcoming Events</button>
            </form> --}}
        </p>
      </div>
    </div>
  </div>
</div>