
<div class="container card my-5"> <h4>Your Upcoming Events</h4>
</div>

{{#unless user.eventsAttending}}
<div class="container card py-3">  
      <h5>You currently don't have any upcoming events,
        <br>
        <a href="/browse">browse</a> events and attend Events to add them to your List</h5>
      </h4>
</div>
{{/unless}}



<div class="card-group justify-content-center">
  <div class="row justify-content-center">


      
      {{#each user.eventsAttending}}
<div class="card mx-3 my-3" style="width: 18rem; border: none;">
  <img src="{{this.imageURL}}" class="card-img-top" alt="Event Image">
  <div class="card-body">
    <h5 class="card-title">{{this.eventName}}</h5>
    <p class="card-text">Genre: {{this.genre}}</p>
    <p class="card-text">City: {{this.city}}</p>
    <p class="card-text">Artists: {{this.artists}}</p>
    <p class="card-text">Date: {{this.date}}</p>
    <a class="btn btn-success" href="/eventPage/{{this._id}}">See Event Details</a>
  </div>
</div>
  {{/each}}


  </div>
</div>