<body style="background: #000000;
  background: -webkit-linear-gradient(to right, #000000, #434343);
  background: linear-gradient(to right, #000000, #434343);"></body>

<div class="container card my-5"> <h4>Your Upcoming Events</h4> </div>

<div class="container card-columns">
  <div class="row">
    <div class="col">
      
      {{#each user.eventsAttending}}
<div class="card" style="width: 18rem;">
  <img src="{{this.imageURL}}" class="card-img-top" alt="Event Image">
  <div class="card-body">
    <h5 class="card-title">{{this.eventName}}</h5>
    <p class="card-text">Genre: {{this.genre}}</p>
    <p class="card-text">City: {{this.city}}</p>
    <p class="card-text">Artists: {{this.artists}}</p>
    <p class="card-text">Date: {{this.date}}</p>
    <a class="btn btn-success" href="/eventPage/{{this._id}}">See Event Details</a>
  </div>
</div>
  {{/each}}

    </div>
  </div>
</div>