<div class="card container my-2" style="max-width: 90%;">
  <div class="navbar">
    <a href="/event" class="btn btn-outline-success">Post New Event</a>
    <a href="/event-search" class="btn btn-outline-success">Browse Events</a>
    <a href="/profile/attending" class="btn btn-outline-success">My Upcoming Events</a>
  </div>
</div>

<div class="card mb-3 container rounded" style="max-width: 90%;">
  <div class="row no-gutters">
    <div class="col-md-4">
       <img class="my-5 rounded-pill" src={{user.imageURL}} alt="profile photo" width="300px">
      <div class="d-flex justify-content-center">
    <form method="GET" action="/image/edit">
      <button class="mx-3 my-3 nav-link btn btn-sm btn-success">Edit Photo</button>
    </form>
    <form method="GET" action="/profile/edit">
      <button class="my-3 mx-3 nav-link btn btn-sm btn-success">Edit Profile</button>
    </form>
  </div>
    </div>
    <div class="col-md-8">
      <div class="my-5 card-body">

        <h4>Welcome, {{user.username}}!</h4>
        <br>
        
        <h5 class="card-title">{{user.firstname}} {{user.lastname}}</h5>
        <br>
        <p class="card-text">{{user.userDescription}}</p>
        <br>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
</div>