<div class="card">
  <div class="card-body">
    Welcome,<h4>{{user.username}}</h4>
    <a href="/event" class="nav-link badge badge-primary">New Event</a>
    <a href="/event-search" class="nav-link badge badge-primary">Browse Events</a>
    <a href="/profile/attending" class="nav-link badge badge-primary">My Upcoming Events</a>
  </div>
</div>
<br>




<div class="card mb-3" style="max-width: 90%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img class="rounded" src={{user.imageURL}} alt="profile photo" width="300px">
    </div>
    <div class="col-md-8">
      <div class="card-body">

        <h5 class="card-title">{{user.firstname}} {{user.lastname}}</h5>
        <p class="card-text">{{user.userDescription}}</p>
        <p class="card-text">
          <form method="GET" action="/profile/edit">
            <button class="btn btn-primary">Edit Profile</button>
          </form>
          <form method="GET" action="/image/edit">
            <button class="btn btn-primary">Edit Photo</button>
          </form>
        </p>
      </div>
    </div>
  </div>
</div>