<br>
<div class="alert alert-success" role="alert">
  You created an event successfully
</div>

<div class="card" style="width: 30rem;">
  <img src="{{event.imageURL}}" class="card-img-top" alt="Event Image" width="200px">
  <div class="card-body">
    <h5 class="card-title">{{event.eventName}}</h5>
    <p class="card-text">{{event.description}}</p>
      
    <form method="GET" action="/eventPage/{{event._id}}/edit"> 
      <button type="button" class="btn btn-outline-dark">Edit Event Details</button>
    </form>
    <br>
    <form method="GET" action="/eventImage/{{event._id}}/edit"> 
      <button type="button" class="btn btn-outline-dark">Edit Event Image</button>
    </form>
    <br>
    <form method="GET" action="/eventPage/{{event._id}}/delete">
      <button type="button" class="btn btn-outline-danger">Delete Event</button>
    </form>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Artists: {{event.artists}}</li>
    <li class="list-group-item">Genre: {{event.genre}}</li>
    <li class="list-group-item">City: {{event.city}}</li>
    <li class="list-group-item">Date: {{event.date}}</li>
    <li class="list-group-item"><a href={{event.ticketURL}} target="_blank" class="card-link">Buy Ticket</a></li>
  </ul>  

  <div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="customSwitch1">
  <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
</div>
<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" disabled id="customSwitch2">
  <label class="custom-control-label" for="customSwitch2">Disabled switch element</label>
</div>
</div>