<br>
<div class="alert alert-success" role="alert">
  You created an event successfully
</div>

<div class="card" style="width: 18rem;">
  <img src="{{event.imageURL}}" class="card-img-top" alt="Event Image">
  <div class="card-body">
    <h5 class="card-title">{{event.eventName}}</h5>
    <p class="card-text">{{event.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Genre: {{event.genre}}</li>
    <li class="list-group-item">Location: {{event.location}}</li>
    <li class="list-group-item"><a href="{{event.ticketURL}}" class="card-link">Buy Ticket</a></li>
  </ul>
</div>