<br>
<div class="alert alert-success" role="alert">
  You created an event successfully
</div>

<div class="card" style="width: 30rem;">
  <img src="{{event.imageURL}}" class="card-img-top" alt="Event Image" width="200px">
  <div class="card-body">
    <h5 class="card-title">{{event.eventName}}</h5>
    <p class="card-text">{{event.description}}</p>
    {{#if event.creator}}

    <h1>SHOW</h1>

    {{/if}}


    <small><p class="card-text">{{event.crator}}</p></small>
    
      
    <form method="GET" action="/eventPage/{{event._id}}/edit"> 
      <button type="submit" class="btn btn-outline-dark">Edit Event Details</button>
    </form>
    <br>
    <form method="GET" action="/eventPage/{{event._id}}/delete">
      <button type="submit" class="btn btn-outline-danger">Delete Event</button>
    </form>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Artists: {{event.artists}}</li>
    <li class="list-group-item">Genre: {{event.genre}}</li>
    <li class="list-group-item">City: {{event.city}}</li>
    <li class="list-group-item">Date: {{event.date}}</li>
    <li class="list-group-item"><a href={{event.ticketURL}} target="_blank" class="card-link">Buy Ticket</a></li>
  </ul>  
<form method="GET" action="/eventPageAttend/{{event._id}}">
      <button id="attend-switch" type="submit" class="btn btn-outline-dark">Attend Event</button>
</form>

<form method="GET" action="/eventPageAttend/{{event._id}}">
      <button id="watch-switch" type="submit" class="btn btn-outline-dark">Follow Event</button>
</form>

{{!-- ---------COMMENT FORM---------- --}}

<div>
  {{#each event.comments}}
    <h5>{{this.commentTitle}}</h5>
   <p>{{this.commentBody}}</p>
   <small><p>{{this.commentAuthor}}</p></small>
  {{/each}}
</div>

<form method="POST" action="/add-comment/{{event._id}}">
  <label for="commenttitle">Comment Title</label>
  <input type="text" name="commenttitle" value="Title">

  <label for="commenttitle">Comment Title</label>
  <textarea name="commentbody" cols="50" rows="6">Write your comment here ...</textarea>

  <button class="btn btn-primary">Submit Comment</button>
</form>
</div>
</div>