<br>
<div class="alert alert-success" role="alert">
  You created an event successfully
</div>

<div class="card" style="width: 30rem;">
  <img src="{{event.imageURL}}" class="card-img-top" alt="Event Image" width="200px">
  <div class="card-body">
    <h5 class="card-title">{{event.eventName}}</h5>
    <p class="card-text">{{event.description}}</p>
      <form method="GET" action="/eventPage/edit"> 
  <button>Edit Event Details:</button>
    </form>
    <form method="GET" action="/eventimage/edit"> 
  <button>Edit Event Image:</button>
    </form>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Artists: {{event.artists}}</li>
    <li class="list-group-item">Genre: {{event.genre}}</li>
    <li class="list-group-item">City: {{event.city}}</li>
    <li class="list-group-item">Date: {{event.date}}</li>
    <li class="list-group-item"><a href={{event.ticketURL}} target="_blank" class="card-link">Buy Ticket</a></li>
  </ul>  
</div>