  <div class="card mt-5 mb-2 container rounded" style="max-width: 90%;">
  <div class="row no-gutters">
    <div class="col mt-5">

      <div class="d-flex slign-items-center mt-5">
      <img class="col card-img rounded" src="{{event.imageURL}}" alt="{{event.description}}" height="250px">
    
    </div>
{{#ifNotAttending user event }} 
      <div class="container my-5 mx-5">
        <form method="POST" action="/attend/{{event._id}}">
      <button id="attend-switch" type="submit" class="btn btn-success">
        <i class="fas fa-heart mr-2"></i>Attend Event</button>
      </form>
      </div>
{{/ifNotAttending}}

{{#ifAttending user event }} 
      <div class="container my-5 mx-5">
        <p>You are attending this event</p>
        <form method="POST" action="/unattend/{{event._id}}">
      <button id="unattend-switch" type="submit" class="btn btn-success">
        <i class="fas fa-heart-broken mr-2"></i>Unattend Event</button>
      </form>
      </div> 
  {{/ifAttending}}
     
    </div>
    <div class="col-md-8">
      <div class="my-5 card-body">

        <h2 class="my-3 mx-3 card-title">{{event.eventName}}</h2>  
        <br>
        
        <h5 class="card-title">proposed by {{event.creator.username}}</h5>
        <br>
        <p class="card-text">{{event.description}}</p>
        <br>
         <p class="card-text">Artists playing:  {{event.artists}}</p>
        <p class="card-text">Genre of this event: {{event.genre}}</p>
        <p class="card-text">Date: {{event.date}}</p>
        <a href={{event.ticketURL}} target="_blank">GET YOUR TICKET</a>

  

        {{#ifCreator user event }}     
        <div class="container rounded d-flex justify-content-end mt-5">
        <form class="d-inline mx-3" method="GET" action="/eventPage/{{event._id}}/edit"> 
            <button type="submit" class="btn btn-outline-success my-2">Edit Event Details</button>
          </form>

        <form class="d-inline mx-3" method="GET" action="/eventPage/{{event._id}}/delete">
            <button type="submit" class="btn btn-outline-warning my-2">Delete Event</button>
          </form>
        </div>
        
      {{/ifCreator}}


      </div>
    </div>
  </div>
</div>

{{#each event.comments}}
<div class="card mb-2 rounded container px-5 py-4 "style="max-width: 90%;">
    <div class="media rounded">
  <div class="media-body">
    <h5 class="mt-0 mb-1">{{this.commentTitle}}</h5>
    <p>{{this.commentBody}}</p>
    <footer class="blockquote-footer text-white">{{this.commentAuthor.username}}</footer>
  </div>
  <img class="rounded-pill ml-3" src="{{this.commentAuthor.imageURL}}" alt="authorphoto" width="80px">
</div>
</div>
  {{/each}}

  <div class="card px-5  container rounded d-flex flex-column" style="max-width: 90%;">
<form class="p-2 form-grup" method="POST" action="/add-comment/{{event._id}}">
  <input class="form-control my-3" type="text" name="commenttitle" value="Title">
  <br>
  <textarea class="form-control" name="commentbody" cols="100" rows="4" placeholder="Write your comment here ..."></textarea>
  <br>
  <div class="row justify-content-end">
    <button class=" p-2 btn btn-success">Submit Comment</button>
  </div>
  
</form>

</div>
</div>

  
  
  
{{!-- 
<div id="concert-detail-card" class="container">
<div class="card border-0">
    <h5 class="my-3 mx-3 card-title">{{event.eventName}}</h5>   
<div class="card text-center d-column ">

  <img class="col card-img px-5" src="{{event.imageURL}}" alt="eventimage" height="300px">
  
</div>
      <div class="card-body col">
        <p class="card-text">{{event.description}}</p>
        <small><p class="card-text">proposed by {{event.creator.username}}</p></small>
        <br>
        <p class="card-text">Artists playing: {{event.artists}}</p>
        <p class="card-text">Genre of this event: {{event.genre}}</p>
        <p class="card-text">Playing On:  {{event.date}}</p>
        <a href={{event.ticketURL}} target="_blank">GET YOUR TICKET</a>

      {{#ifEquals user._id event.creator._id}}
<div class="container d-flex justify-content-end">
  <form class="d-inline mx-3" method="GET" action="/eventPage/{{event._id}}/edit"> 
      <button type="submit" class="btn btn-primary my-2">Edit Event Details</button>
    </form>

  <form class="d-inline mx-3" method="GET" action="/eventPage/{{event._id}}/delete">
      <button type="submit" class="btn btn-danger my-2">Delete Event</button>
    </form>
  </div>
{{/ifEquals}}
      </div>
    {{#each event.comments}}
  <div class="card">
    <div class="card-header">
      <h5>{{this.commentTitle}}</h5>
    </div>
    <footer class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{this.commentBody}}</p>
        <footer class="blockquote-footer">{{this.commentAuthor.username}}</footer>
      </blockquote>
    </div>
</div>
  {{/each}}

<div class="card-footer d-flex flex-column">
<form class="p-2 form-grup" method="POST" action="/add-comment/{{event._id}}">
  <input type="text" name="commenttitle" value="Title">
  <br>
  <textarea name="commentbody" cols="60" rows="4">Write your comment here ...</textarea>
  <br>
  <button class=" p-2 btn btn-primary">Submit Comment</button>
</form>
</div>
</div> --}}

{{!-- EVENT IMAGE AND TITLE --}}
{{!-- 
<div class="card" style="width: 30rem;">
  <img src="{{event.imageURL}}" class="card-img-top" alt="Event Image" width="200px">
  <div class="card-body">
    <h5 class="card-title">{{event.eventName}}</h5>
    <p class="card-text">{{event.description}}</p>


    <small><p class="card-text">{{event.creator}}</p></small>
    
  
    <form method="GET" action="/eventPage/{{event._id}}/edit"> 
      <button type="submit" class="btn btn-outline-dark">Edit Event Details</button>
    </form>
    <br>
  
    <form method="GET" action="/eventPage/{{event._id}}/delete">
      <button type="submit" class="btn btn-outline-danger">Delete Event</button>
    </form>
  

  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Artists: {{event.artists}}</li>
    <li class="list-group-item">Genre: {{event.genre}}</li>
    <li class="list-group-item">City: {{event.city}}</li>
    <li class="list-group-item">Date: {{event.date}}</li>
    <li class="list-group-item"><a href={{event.ticketURL}} target="_blank" class="card-link">Buy Ticket</a></li>
  </ul>  
<form method="POST" action="/eventPageAttend/{{event._id}}">
      <button id="attend-switch" type="submit" class="btn btn-outline-dark">Attend Event</button>
</form>
</div> --}}

{{!-- ---------COMMENT SHOW---------- --}}


{{!-----------COMMENT FORM---------- --}}
